
#point1 {
    border: 2px solid white;
    width: 8px;
    height: 8px;
    border-radius: 23px;
    margin-left: 25px;
    background-color: white;
    margin-top: 3px;
}

#point2 {
    border: 4px solid white;
    width: 20px;
    height: 20px;
    border-radius: 23px;
    margin-top: 6px
}

#point3 {
    border: 2px solid white;
    width: 20px;
    height: 20px;
    border-radius: 23px;
    margin-left: 300px;
    margin-top: 40px;
}

#point4 img {
    width: 70px;
    height: 70px;
    border-radius: 23px;
    margin-left: 75px;
}

body {
    background-color: black;
}

#nav {
    display: flex;
    color: aliceblue;
    margin-left: 100px;
}


.navigation{
    display: flex;
    margin-left: 300px;
     margin-top: 25px;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.5s;
}

.navigation a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}



#nav2 {
    display: flex;
    margin-left: 150px;
}

#foot {
    border: 5px solid white;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("registan.jpg");
}

#text1 {
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 300px;
    margin-bottom: 0px;
    display: flex;
    position: absolute;
    margin-top: 45px;
    word-spacing: 12px;
}

#text2 p {
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 300px;
    margin-top: 50px;
    font-weight: bolder;
    word-spacing: 12px;
}

#point5 {
    width: 10px;
    height: 10px;
    border-radius: 23px;
    margin-right: 50px;
    margin-left: 250px;
    background-color: white;
    background: linear-gradient(120deg, yellow, rgb(3, 77, 3));
}

#text3 {
    display: flex;
}

#text3 p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    ;
}

#point6 {
    width: 15px;
    height: 15px;
    border-radius: 23px;
    margin-left: 50px;
    background-color: white;
    background: linear-gradient(120deg, white 10%, orange 10%, rgb(143, 38, 124));
    margin-top: 50px;
}

#text3 img {
    border-radius: 130px;
    width: 110px;
    height: 110px;
    border: 4px solid white;
    margin-left: 100px;
    /* margin-bottom: 10px; */
}


#first {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(77, 61, 61);
    margin-left: 40px;
}
#first p{
    text-shadow: 1px 3px 2px gray;
}

#second {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 100px;
    margin-left: 40px;
}

#im1 {
    border: 5px solid red;
    width: 600px;
    height: 60px;
    border-radius: 50px;
    margin-top: -40px;
    position: absolute;
    margin-left: 400px;
}

#im2 {
    width: 50px;
    height: 50px;
    margin-left: 250px;
    margin-bottom: 10px;
}

#im2 img {
    height: 50px;
    border-radius: 50px;
    margin-left: 100px;
}
#mid{
    /* border: 5px solid red; */
    display: flex;
    /* position: absolute; */
    height: 40px;
}
#mid #a1{
    border: 3px solid white;
    color: black;
    background-color: white;
    border-width: 20px;
    border-top-left-radius:15px ;
    text-decoration: none;
    margin-left: 300px;
    height: 5px; 
}
#mid #a2{
    border: 3px solid white;
    color: black;
    background-color: white;
    border-width: 20px;
    border-top-right-radius: 15px;
    text-decoration: none;
    /* margin-left: 30px     */
    height: 5px;   
}
#property {
    border: 2px solid white;
    position: absolute;
    display: flex;
    margin-left: 300px;
    background-color: white;
    margin-top: 40px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* box-shadow: 0px 0px 5px 2px; */
}

#property :nth-child(1) {
    margin-left: 40px;
}

#property :nth-child(2) {
    margin-left: 80px;
}

#property :nth-child(3) {
    margin-left: 80px;
    margin-right: 20px;
}