@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url(hotel10.jpg) no-repeat; */
    background-color: black;
    background-size: cover;
    background-position: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgb(240, 109, 83);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    user-select: none;
    color: #fff;
}
.logo img{
    height: 75px;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.5s;
}

.navigation a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url(hotel10.jpg) no-repeat; */
    background-color: black;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background-color: rgb(32, 31, 30); */
    background: transparent;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    user-select: none;
    color: #fff;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.5s;
}

.navigation a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

#image {
    width: 100%;
    height: 740px;
    /* border: 5px solid blue; */
    /* margin-top: 90px; */
    background-image: url(Login.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#image input {
    background-color:white;
    margin-top: 400px;
    margin-left: 700px;
    height: 40px;
    width: 180px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bolder;

}

#image input:hover {
    color: white;
    /* border: 5px solid rgb(20, 112, 170); */
    box-shadow: 0px 1px 1px 1px;
    background-color: rgb(19, 62, 189);
}

#mid2 {
    display: flex;
    color: white;
    border-radius: 20px;
    /* border: 4px solid red; */
    border-spacing: 60px;
}

#img img {
    border: 4px solid white;
    height: 400px;
    width: 600px;
    border-radius: 20px;
    margin-left: 120px;
    margin-top: 10px;

}

#img img:hover {
    width: 610px;
    height: 410px
}

#p {
    /* border: 4px solid red;     */
    margin-left: 70px;
    width: 600px;
}

#mid2 p {
    padding-top: 90px;
    align-items: center;
    text-align: justify;
    word-spacing: 10px;
    font-size: 15px;
    margin-left: 45px;
    margin-right: 15px;
}

#foot1 {
    border: 1px solid white;
    color: white;
    margin-top: 10px;
}

.foot1a ul {
    display: flex;
    list-style: none;
}

.foot1a ul li {
    margin-left: 40px;
}

#img1 {
    width: 120px;
    border-radius: 10PX;
    height: 75px;
}

#img2 {
    width: 120px;
    border-radius: 10PX;
    height: 75px;
}

#img3 {
    width: 120px;
    border-radius: 10PX;
    height: 75px;
}

#img4 {
    width: 120px;
    border-radius: 10PX;
    height: 75px;
}

#img5 {
    width: 120px;
    border-radius: 10PX;
    height: 75px;
}

#img6 {
    width: 120px;
    border-radius: 10PX;
    height: 75px;
}

#img7 {
    width: 120px;
    border-radius: 10PX;
    height: 75px;
}

#img8 {
    width: 120px;
    border-radius: 10PX;
    height: 75px;
}

#img9 {
    width: 120px;
    border-radius: 10PX;
    height: 75px;
}
#IHG{
    display: flex;
    margin-left: 50px;
    margin-bottom: 30px;
    /* position: absolute; */
    /* margin-bottom: 200px; */
}
#hotelandresort{
    margin-top: 13px;
    font-size: 25px;
}
#foot2{
    margin-top: 30px;
}
#share{
    margin-left: 500px;
}
#share ul{
display: flex;
}
#share ul li img{
    height: 55px;
    margin-left: 50px;
}
#powerd{
    display: flex;
    margin-left: 550px;
}
#powerd p{
    padding-top: 30px;
}
#powerd img{
height:  75px;
margin-left: 50px;
}
#india{
    color: white;
    display: flex;
    word-spacing: 20px;
    margin-left: 550px;
    font-weight:bolder;
}
#hr{
    margin-bottom: 40px;
}